port = 3000
env = "production"

cors {
    origin = "*"
    methods = ["GET", "POST"]
}

security {
    hidePoweredBy = true
    antiClickjack = true
    noSniff = true
}

logger {
    level = "info"
}

proxy "/api/v1" {
    target = "https://jsonplaceholder.typicode.com"
}

errors {
    404 = "example/404.html"
    500 = "example/500.html"
}
